/* header style */
header{
    text-align: center;
    color: black;
    background: #ebebeb;
    padding: 20px;
    margin: 15px;
}

/*body stle */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}
/* nav style */
nav{
    background: #ebebeb;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 15px;
}
/* section style */
section{
    background: #ebebeb;
    width: 495px; 
    height: 250px;
    color: black;
    float: left;
    padding: 30px;
    margin: 20px;
    text-align: center;
}
/* artical style */ 
article{
    color: #ebebeb;
    background: #777;
    width: 92%;
    padding: 20px;

}
/* aside style */ 
aside{
    background: #ebebeb;
}
/* footer style*/
footer{
    background: #ebebeb;
}
/* h type tags */
h1{
color: #777;
background: #ebebeb;
width: 95%;
height: 20px;
padding-top: 20px;
padding-right: 0px;
padding-bottom: 20px;
padding-left: 20px;
}

/* p tags */
p{
    color: #777;
    background: #ebebeb;
    width: 95%;
    height: 20px;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
}